src/main/mule/cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="76ebc27f-7ae2-45ec-8e20-824100ff2c39" basePath="/timezone" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="0be14417-930c-4c56-858d-528b35b1dae5" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org"/>
	</http:request-config>
	<flow name="cicdFlow" doc:id="13c62b81-e7e3-4454-906e-53914f8d9265" >
		<http:listener doc:name="Listener" doc:id="9e12ee7a-6c80-4618-aedc-310adf66b562" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<logger level="INFO" doc:name="Logger" doc:id="5098ac47-c161-4b04-8242-23140dc8e507" />
		<http:request method="GET" doc:name="Request" doc:id="9fb53556-11a2-4910-b284-485f0742e30d" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
