src/main/mule/Implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="76ebc27f-7ae2-45ec-8e20-824100ff2c39">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="0be14417-930c-4c56-858d-528b35b1dae5" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org"/>
	</http:request-config>
	<flow name="cicdFlow" doc:id="13c62b81-e7e3-4454-906e-53914f8d9265" >
		<http:request method="GET" doc:name="Request" doc:id="9fb53556-11a2-4910-b284-485f0742e30d" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
	<flow name="cicdFlow1" doc:id="dda3c56d-31cf-4860-b77e-92dfa061ed24" >
		<http:listener doc:name="Listener" doc:id="e84261c9-3872-4cae-a6d9-f59bc7395251" config-ref="HTTP_Listener_config" path="/dummy"/>
		<set-payload value='"Some Value"' doc:name="Set Payload" doc:id="295ab5cd-7b78-4162-a5c5-9c2f3145d6e6" />
	</flow>
</mule>
